$white: #ffffff;

$orange-25: #fef7f3;
$orange-50: #fde7db;
$orange-100: #fccfb6;
$orange-300: #fab086;
$orange-500: #f4600c;
$orange-600: #dc560b;
$orange-700: #c34d0a;

$gray-25: #fcfcfd;
$gray-50: #f9fafb;
$gray-100: #f2f4f7;
$gray-200: #eaecf0;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1d2939;
